
body{
    background-image: url("/imagem/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ola{
        color:#17c1f5;
        text-align: center;
        font-size: 90px;
    }

    .enem{
        color: 	#00fbff;
        text-align: center;
        font-size: 50px;

    }

    .note{
       color: #00fbff;
       text-align: center;
       font-size: 50px;
    }

    .img1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .oque{
        color: 	#89e8f5;
        text-align: center;
        font-size: 50px;

    }

    .p1{
        color:	#000000;
        font-size: 35px;
        left: auto;
        width: auto;
    }

    .p2{
        color: #000000;
        text-align: center;
        font-size: 50px;
    }

    .p3{
        color:	#000000;
        font-size: 50px;
        left: auto;
        width: auto;
    }

    .left {
        float: 
        font-size: 70px;
        color: 	#89e8f5;
      }
    
      .right {
        float: right;
        font-size: 50px;
        color: 	#89e8f5;
    }

    .img07{
        float: right;
    }

    .roda{
     margin-top: 20px;
     font-size: 50px;
     color: aqua;
    
    }
    .left011{
        float: left;
        width: 2000px;
        height: 2000px;
    }
    .img05{
        display: block;
        margin-left: center;
        margin-right: center;
    }
    .perguntas{
        display: block;
    }
    .respostas{
        display: block;
    }